/* -- Custom Css -- */

html,
body {
    height: 100% !important;
}

@font-face {
    font-family: CenturyGothic;
    src: url('http://localhost:8888/decenternet-prod/fonts/century-gothic.ttf');
}

body, h1, h2, h3, h4 {
    font-family: CenturyGothic !important;
}

/* Navigation */
.dnet-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999999;
}

.dnet-nav li a {
    text-transform: uppercase;
    font-weight: bold;
    color:#fff !important;
}

/* Buttons DNET 1 */
.btn-dnet1 {
    font-size: 18px;
    background: #316db5;
    color: #fff;
    border-radius: 25px;
    padding: 12px 60px;
    font-weight: bold;
}

.btn-dnet1:hover {
    background: #346797;
}

/* Fold 1 */
#fold-1 {
    background:  url('http://localhost:8888/decenternet-prod/img/mainpage-bg-temp.jpg') no-repeat;
    background-size: cover;
    background-position: center top;
}

#fold-1 {
    padding-top: 150px;
    padding-bottom: 150px;
}

#fold-1 h1 {
    font-size: 55px;
    text-shadow: 3px -1px 1px #000;
}

#fold-1 h4 {
    font-size: 38px;
    text-shadow: 3px -1px 1px #000;
}

/* Mobile Optimization Section 1 */

@media all and (max-width:768px) {

    .dnet-nav .navbar-collapse {
        margin-top: 5px;
        border: 2px solid #222;
        background: rgba(34,34,34, 0.9);
        padding: 10px;
    }

    .dnet-nav .navbar-collapse li {
        border-bottom: 1px solid #3b3b3b;
    }

    #dnet-nav .navbar-collapse li:last-child {
        border: none;
    }
}

@media all and (max-width:414px) {

     #dnet-logo {
        width: 60%;
    }

    .dnet-nav {
        padding-top: 20px;
    }

    .btns .btn {
        width: 100%;
        display: block !important;
        margin: 10px auto !important;
        
    }
}